
version: 2
updates:
  - package-ecosystem: "docker" 
    directory: "/" 
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/app" 
    schedule:
      interval: "weekly"