name: Publish Galera Cluster Healthcheck to GHCR


permissions:
  contents: read
  packages: write


on:
  push:
     tags: 
      - 'v*.*.*'
      - 'v*.*.*-dev.*'


jobs: 
    semgrep_scan:
        name: Smegrep Scan Analysis
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: 3.x
        
        - name: Install semgrep
          run: python3 -m pip install semgrep
        
        - name: Run semgrep
          run:  semgrep scan --error

    
    build-and-publish:
      name: Build and Publish Docker image
      needs: semgrep_scan
      strategy:
        fail-fast: false
        matrix:
          os:
            - ubuntu-24.04
            - ubuntu-24.04-arm
      runs-on: ${{ matrix.os }}
      steps:
        - name: Extract Git info
          id: vars
          run: |
            echo "REPOSITORY_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV 
            platform=${{ matrix.os == 'ubuntu-24.04' && 'linux/amd64' || 'linux/arm64' }}
            arch=${{ matrix.os == 'ubuntu-24.04' && 'amd64' || 'arm64' }}
            echo "ARCH=${arch}" >> $GITHUB_ENV
            echo "PLATFORM=${platform}" >> $GITHUB_ENV
            echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

        - uses: actions/checkout@v4

        - name: Set up Qemu 
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to GHCR 
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Docker meta
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: ghcr.io/${{ env.REPOSITORY_NAME }}
            tags: |
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}
            
        
        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            build-args: |
              VERSION=${{ github.ref_name }}
            cache-from: type=gha
            cache-to: type=gha,mode=max
            platforms:  ${{ env.PLATFORM }}
            outputs: type=image,push=true
    
    trivy_scan:
      name: Trivy Security Scan of the built image
      needs: build-and-publish
      runs-on: ubuntu-latest
      steps:
        - name: Extract Git info
          id: vars
          run: |
            echo "REPOSITORY_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV 
            platform=${{ matrix.os == 'ubuntu-24.04' && 'linux/amd64' || 'linux/arm64' }}
            arch=${{ matrix.os == 'ubuntu-24.04' && 'amd64' || 'arm64' }}
            echo "VERSION"=$(echo ${{ github.ref_name }} | sed 's/^v//')  >> $GITHUB_ENV 

        - uses: actions/checkout@v3
        - name: Install Trivy
          run: |
            sudo apt-get install wget apt-transport-https gnupg lsb-release
            wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
            echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
            sudo apt-get update
            sudo apt-get install trivy

        - name: Scan Docker image
          run: |
            trivy image --exit-code 1 --severity CRITICAL,HIGH --no-progress --ignore-unfixed ghcr.io/${{ env.REPOSITORY_NAME }}:${{ env.VERSION }}

    tag_image_as_latest:
      name: Tag Docker image as latest
      needs: trivy_scan
      runs-on: ubuntu-latest
      if: contains('dev', github.ref_name) == false
      steps:
        - name: Extract Git info
          id: vars
          run: |
            echo "REPOSITORY_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV 
            echo "VERSION"=$(echo ${{ github.ref_name }} | sed 's/^v//')  >> $GITHUB_ENV 
            
        - name: Login to GHCR 
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Tag and push latest image
          run: |
            docker pull ghcr.io/${{ env.REPOSITORY_NAME }}:${{ env.VERSION }}
            docker tag ghcr.io/${{ env.REPOSITORY_NAME }}:${{ env.VERSION }} ghcr.io/${{ env.REPOSITORY_NAME }}:latest
            docker push ghcr.io/${{ env.REPOSITORY_NAME }}:latest
